/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .w-sm-100 {
    width: 100% !important;
  }

  .w-sm-75 {
    width: 75% !important;
  }

  .w-sm-50 {
    width: 50% !important;
  }

  .w-sm-25 {
    width: 25% !important;
  }

  .h-sm-100 {
    height: 100% !important;
  }

  .h-sm-75 {
    height: 75% !important;
  }

  .h-sm-50 {
    height: 50% !important;
  }

  .h-sm-25 {
    height: 25% !important;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .w-md-100 {
    width: 100% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-25 {
    width: 25% !important;
  }

  .h-md-100 {
    height: 100% !important;
  }

  .h-md-75 {
    height: 75% !important;
  }

  .h-md-50 {
    height: 50% !important;
  }

  .h-md-25 {
    height: 25% !important;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .w-lg-50 {
    width: 50% !important;
  }

  .w-lg-25 {
    width: 25% !important;
  }

  .h-lg-100 {
    height: 100% !important;
  }

  .h-lg-75 {
    height: 75% !important;
  }

  .h-lg-50 {
    height: 50% !important;
  }

  .h-lg-25 {
    height: 25% !important;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .w-xl-100 {
    width: 100% !important;
  }

  .w-xl-75 {
    width: 75% !important;
  }

  .w-xl-50 {
    width: 50% !important;
  }

  .w-xl-25 {
    width: 25% !important;
  }

  .h-xl-100 {
    height: 100% !important;
  }

  .h-xl-75 {
    height: 75% !important;
  }

  .h-xl-50 {
    height: 50% !important;
  }

  .h-xl-25 {
    height: 25% !important;
  }
}

.font-3 {
  font-family: var(--global--font-3rd);
}

.font-head {
  font-size: 24px;
  line-height: 1.3;

  @include media(tablet) {
    font-size: 34px;
  }

  @include media(desktop) {
    font-size: 40px;
  }
}

.font-tag {
  font-size: 20px;

  @include media(tablet) {
    font-size: 36px;
  }

  @include media(desktop) {
    font-size: 30px;
  }
}

.font-24 {
  font-size: 16px;

  @include media(tablet) {
    font-size: 10px;
  }

  @include media(desktop) {
    font-size: 24px;
  }
}

.font-20 {
  font-size: 14px;

  @include media(tablet) {
    font-size: 16px;
  }

  @include media(desktop) {
    font-size: 20px;
  }
}

.font-regular {
  font-size: 16px;

  @include media(tablet) {
    font-size: 20px;
  }

  @include media(desktop) {
    font-size: 24px;
  }
}

.color-secondary {
  color: #ff6900;
}

.color-gray {
  color: #53565a;
}

.my-6 {
  @include media(desktop) {
    @media (min-width: 992px) {
      margin-top: 6rem;
      margin-bottom: 6rem;
    }
  }
}

.my-lg-6 {
  @include media(desktop) {
    @media (min-width: 992px) {
      margin-top: 6rem;
      margin-bottom: 6rem;
    }
  }
}

.my-md-6 {
  @media (min-width: 768px) {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

.mt-md-6 {
  @media (min-width: 768px) {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e904";
}

.icon-arrow-left:before {
  content: "\e905";
}

.icon-arrow-down:before {
  content: "\e906";
}

.icon-arrow-up:before {
  content: "\e907";
}

.icon-building:before {
  content: "\e900";
}

.icon-delivery:before {
  content: "\e901";
}

.icon-magnifier:before {
  content: "\e902";
}

.icon-tag:before {
  content: "\e903";
}

ul {
  list-style: none;
  /* Remove default bullets */
}

a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.bg-color-primary {
  background-color: #1e22aa;
}

.primary-color {
  color: #1E22AA;
}

.tile {
  width: 100%;
  max-width: 1280px;
  margin: 60px auto;
  border-top: 1px solid #707070;
}

.primary-btn {
  padding: 10px 20px;
  background-color: #ff6900;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;

  &:hover,
  &:focus{
    color: #fff;
    text-decoration: none;
    background-color: #ff6900;
    outline: none;
  }
}

.primary-outline-btn {
  padding: 5px 10px;
  border: 2px solid #ff6900;
  color: #ff6900;
  text-decoration: none;
  font-size: 16px;

  @include media(mobile-only) {
    padding: 8px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  }
}