[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-right:before {
	content: "\e904";
}
.icon-arrow-left:before {
	content: "\e905";
}
.icon-arrow-down:before {
	content: "\e906";
}
.icon-arrow-up:before {
	content: "\e907";
}
.icon-building:before {
	content: "\e900";
}
.icon-delivery:before {
	content: "\e901";
}
.icon-magnifier:before {
	content: "\e902";
}
.icon-tag:before {
	content: "\e903";
}
ul {
	list-style: none; /* Remove default bullets */
}
a:hover{
	opacity: 0.7;
	text-decoration: underline;
}

.header-banner{
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	&.loading{
		&::before{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: #fff;
			content: "";
		}
		&::after{
			position: absolute;
			left: calc(50% - 15px);
			top: calc(50% - 15px);
			content: url(./assets/images/ajax-loader.gif);
		}
	}
	.center-content{
		left: 10%;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		position: absolute;
		max-width: 530px;
		.head{
			font-size: 60px;
			color: #fff;
			font-family: var(--global--font-3rd);
			font-weight: 400;
		}
		.desc{
			margin-top: 30px;
			font-size: 20px;
			color: #fff;
		}
	}
}

.header-banner .what-news{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px 70px;
	background-color: #fff;
	color: #FF6900;
	display: flex;
    align-items: center;
}

.header-banner .what-news .svg-icon{
	margin: 0 5px;
	padding: 3px;
}

.news-block,
.maxwidth {
	padding: 0 70px;
}

.news-block{
	display: flex;
	margin-top: 0;
	padding: 50px 70px 20px;
	overflow: hidden;
}

.news-block .left-text{
	flex: 0 0 600px;
}

.primary-color{
	color: #1E22AA;
}

.primary-headline{
	font-size: 40px;
	font-weight: 400;
}

.image-bottom-content .content{
	font-size: 14px;
	color: #53565A;
	margin-top: 10px;
	&.box-small{
		max-width: 800px;
		font-size: 24px;
		margin: auto;
		font-family: var(--global--font-3rd);
	}
}

.text-center{
	text-align: center;
}

.image-bottom-content .bottom{
	padding-top: 40px;
	padding-bottom: 40px;
	.primary-btn{
		margin-top: 40px;
		display: inline-block;
	}
}

.site-header .request-btn {
	flex-grow: 1;
	text-align: right;
	margin-right: 100px;
}

.site-header .request-btn a {
	padding: 10px 20px;
	background-color: #ff6900;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}

.tile{
    width: 100%;
	max-width: 1280px;
	margin:60px auto;
	border-top: 1px solid #707070;
}
.content-slider{
	.slick-dots{
		&.top{
			top: -100px;
			bottom: auto;
			margin: auto;
			display: flex;
			justify-content: space-evenly;
			li{
				position: relative;
				margin-right: 0px;
				padding: 15px 0 10px;
				font-size:16px;
				border: none;
				color: #333333;
				width: 100%;
				height: auto;
				max-width: 130px;
				margin-left: 0;
				border-top: 8px solid transparent;
				&:hover{
					background-color: #fff!important;
					border-left: none;
					border-right: none;
					border-bottom: none;
				}

				[class^=icon-]{
					display: block;
					font-size: 24px;
				}

				.value{
					display: inline-block;
					margin-top: 10px;
					line-height: 1.4;
				}
				&.slick-active{
					color: #1E22AA !important;
					border-top: 8px solid #FF6900;
				}
			}
		}
	}
}
#tile-1 {
	padding-top: 140px;
	.tab-pane {
	  padding: 30px 0;
	}
	.nav-tabs {
		position: relative;
		border: none!important;
		background-color: #fff;
		border-radius: 6px;
		justify-content: space-between;
		padding: 0 50px;
		li {
			margin: 0px!important;
			a{
				position: relative;
				margin-right: 0px;
				padding: 15px 30px 10px;
				font-size:16px;
				border: none;
				color: #333;
				&:hover{
					background-color: #fff!important;
					border: none;
				}
				.value{
					display: inline-block;
					margin-top: 10px;
					line-height: 1.4;
				}
			}
		}
		.active{
			background-color: transparent!important;
			border: none!important;
			color: #1E22AA!important;
		}
	}
	.slider{
		display: inline-block;
		width: 30px;
		height: 4px;
		border-radius: 3px;
		background-color: #ff6900;
		position: absolute;
		z-index: 1200;
		top: 0;
		transition: all .4s linear;
	}
}
.tabs-content{
	.ct{
		display: flex;
		.l-ct{
			flex: 0 0 45%;
			padding-right: 10%;
			.head{
				font-size: 30px;
				font-family: "Roboto Slab";
				color: #53565A;
				margin-bottom: 20px;
			}
			.des{
				font-size: 20px;
			}
			.primary-outline-btn{
				margin-top: 30px;
				display: inline-block;
			}
		}
		.r-ct{
			flex: 0 0 55%;
		}
	}
}
.f-align-center{
	align-items: center;
}
// .blue-bg{
// 	margin-bottom: 40px;
// }
// .container{
// 	padding: 0 70px;
// }
.block-z-style{
	display: flex;
	max-width: 1280px;
    margin: auto;
	position: relative;
	&::before{
		background-color: #1E22AA;
		position: absolute;
		content: "";
		width: 1000px;
		height: 100%;
		right: 100%;
		top: 0;
	}
	&::after{
		background-color: #1E22AA;
		position: absolute;
		content: "";
		width: 1000px;
		height: 100%;
		left: 100%;
		top: 40px;
	}
	.z-left{
		flex: 0 0 55%;
		background-color: #1E22AA;
		.z-content{
			padding-top: 40px;
			padding-bottom: 50px;
			position: relative;
			.desc{
				margin-bottom: 30px;
			}
			img{
				margin-left: -35px;
				width: 105%;
			}
		}
	}
	.z-right{
		flex: 0 0 45%;
		background-color: #1E22AA;
		padding-right: 70px;
		display: flex;
    	align-items: center;
		position: relative;
		top: 40px;
		.z-content{
			padding: 40px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
	.head{
		font-size: 30px;
		font-family: "Roboto Slab";
		color: #fff;
	}
	.desc{
		font-size: 20px;
		color: #fff;
	}
	.primary-outline-btn{
		margin-top: 30px;
		display: inline-block;
		width: 110px;
	}
}
.block-two-coloumn{
	display: flex;
	width: 80%;
    margin: auto;
	padding: 60px 0;
	.left,
	.right{
		flex: 0 0 50%;
	}
	.head{
		font-size: 30px;
		font-family: "Roboto Slab";
		color: #1E22AA;
		max-width: 380px;
	}
	.primary-outline-btn{
		margin-top: 30px;
		display: inline-block;
	}
}
.primary-btn {
	padding: 10px 20px;
	background-color: #ff6900;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}
.primary-outline-btn {
	padding: 5px 10px;
	border: 2px solid #ff6900;
	color: #ff6900;
	text-decoration: none;
	font-size: 16px;
}
.block-z{
	overflow: hidden;
	padding-bottom: 40px;
}
.news-block .right-news-slider{
	// flex-grow: 1;
	width: 100%;
	flex: 0 0 calc(100% - 600px);
	max-width: calc(100% - 600px);
}
.post-slider{
	display: block;
	.item{
		box-shadow: 1px 0px 8px 0px rgba(0,0,0,0.25);
		.thumbnail{
			img{
				width: 100%;
			}
		}
		.content{
			padding: 20px 10px;
		}
		.date{
			text-transform: uppercase;
			font-size: 12px;
			display: block;
			text-decoration: none;
			font-weight: 700;
			color: #53565A;
			margin-bottom: 5px;
		}
		.title{
			font-size: 24px;
			display: block;
			line-height: 1.1;
			text-decoration: none;
			color: #53565A;
			font-family: var(--global--font-3rd);
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			min-height: 53px;
		}
		.readmore{
			font-size: 12px;
			text-transform: uppercase;
			color: #FF6900;
			display: block;
			text-decoration: none;
			margin-top: 10px;
			font-weight: 700;
		}
	}
	/* the slides */
	.slick-slide {
		margin: 0 8px;
		width: 350px;
	}
	/* the parent */
	.slick-list {
		margin: 0 -10px;
		padding: 10px;
	}
	.slick-arrow{
		top: 85%;
	}
	.slick-prev{
		left: -70px;
	}
	.slick-next{
		left: -40px;
	}
}