// Footer
.footer-wrapper{
	background-color: #1E22AA;
}
.powered-by{
	padding-top: 0;
	padding-bottom: calc(1.7 * var(--global--spacing-vertical));
	@extend %responsive-alignwide-width;
	display: flex;
}
.site-footer {
	padding-top: 20px;
	padding-bottom: 50px;
	@extend %responsive-alignwide-width;
	// display: flex;
	.footer-left-side,
	.footer-right-side{
		flex: 0 0 50%;
	}

	// Increase the top vertical spacing when there is no widget area.
	.no-widgets & {
		margin-top: calc(6 * var(--global--spacing-vertical));
	}

	@include media(mobile-only) {

		.no-widgets & {
			margin-top: calc(3 * var(--global--spacing-vertical));
		}
	}
	.custom-logo{
		filter: brightness(0) invert(1);
	}
	.address{
		margin-top: 10px;
		.name{
			font-size: 12px;
			font-weight: 700;
		}
		.addr{
			font-size: 12px;
		}
	}
	.footer-right-side{
		padding-top: 35px;
		.widget_nav_menu{
			.widgettitle{
				font-size: 14px;
				text-transform: uppercase;
				font-weight: 700;
			}
			nav{
				ul{
					list-style-type: none;
					padding-left: 0;
					margin-top: 15px;
					li{
						a{
							color: #fff;
							text-transform: uppercase;
							font-size: 14px;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	@include media(mobile-only) {
		.address,
		.footer-right-side{
			text-align: center;
		}
		.footer-left-side{
			.site-logo{
				margin-left: 20px;
			}
		}

		.footer-right-side{
			padding-top: 15px;
			.wp-block-column{
				margin-top: 30px;
				margin-bottom: 0;
				nav{
					margin-top: 0;
				}
				.widgettitle{
					margin-bottom: 0;
				}
				.menu{
					margin-top: 0;
				}
				.menu-item{
					line-height: 1;
				}
			}
		}
	}
}

// Footer Branding
.site-footer > .site-info {
	padding-top: var(--global--spacing-vertical);
	color: var(--global--color-white);
	font-family: var(--footer--font-family);
	font-size: var(--footer--font-size);
	line-height: var(--global--line-height-body);
	width: 100%;

	.site-name {
		text-transform: var(--branding--title--text-transform);
		font-size: var(--branding--title--font-size);
	}

	.powered-by {
		margin-top: calc(0.5 * var(--global--spacing-vertical));
	}

	@include media(tablet) {
		display: flex;

		.powered-by {
			margin-top: initial;
			margin-left: auto;
		}
	}

	a {
		color: var(--footer--color-link);

		&:link,
		&:visited,
		&:active {
			color: var(--footer--color-link);
		}

		&:hover {
			color: var(--footer--color-link-hover);
		}

		&:focus {
			color: var(--footer--color-link-hover);

			.is-dark-theme & {
				color: var(--wp--style--color--link, var(--global--color-background));
			}

			// Change colors when the body background is white.
			.has-background-white & {
				color: var(--wp--style--color--link, var(--global--color-white));
			}
		}
	}
}